html {
  font-family: 'Fira Code', 'monospace', monospace, 'Droid Sans Fallback';
}

body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #524f4f;
}

img {
  width: 100%;
}


#Articles {
 margin-top: 30px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  border-bottom: 4px solid #66FF33;
}

p {
  color: #FFFFFF;
  line-height: 1.5em;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.navbar-left {
  display: flex; 
  flex-direction: row;
  justify-content: start;
}

.navbar-right {
  margin-top: 7.5px;
}

.navbar-left, .navbar-right {
  list-style-type: none;
  padding: 0px;
}

.navbar, .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top, .navbar-left-text-top {
  font-size: 10px;
  margin-bottom: 5px;
  color: #AEAEAE;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 9px;
  padding-left: 10px;
  height: 65px;
  width: 100%;
}

.subscription-box {
  margin-top: 20px;
}

#subscribe-button {
  height: 34px;
  margin-right: 15px;
}

textarea:focus, 
input:focus,
#subscribe-button:focus {
  outline: 0;
}

.navbar-left-text-bottom {
  margin-left: 0px;
  margin-top: 10px;
  font-style: bold;
}
.navbar-link {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5px;
  margin-right: 7.5px;
  width: 22.5px;
  height: 22.5px;
}

#navbar-link:focus {
  outline: none;
  padding: 5px;
}

.profile-picture {
  margin-right: 10px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

@media(max-width: 550px) {
  .navbar-right { 
    min-width: 92.5vw; 
    margin-left: 5px;
  }
  .footer {
    display: none;
  }
  #Articles {
    margin-top: 20px;
  }
}
