body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#Articles {
 margin-top: 30px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #AEAEAE;
}

img {
  width: 100%;
}

p {
  font-family: roboto;
  color: #1E1E1E;
  line-height: 1.5em;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.navbar-left {
  display: flex; 
  flex-direction: row;
  justify-content: start;
}

.navbar-right {
  margin-top: 10px;
}

.navbar-left, .navbar-right {
  list-style-type: none;
  padding: 0px;
}

.navbar, .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top, .navbar-left-text-top {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: roboto;
  color: #AEAEAE;
  font-style: italic;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  height: 60px;
  width: 100%;
}

.navbar-left-text-bottom {
  margin-left: 0px;
  margin-top: 10px;
  font-family: roboto;
  font-style: bold;
}
.navbar-link {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: roboto;
  font-size: 14px;
}

#navbar-link:focus {
  outline: none;
  padding: 5px;
}

.profile-picture {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media(max-width: 550px) {
  .navbar-right { 
    min-width: 92.5vw; 
    margin-left: 5px;
  }
  .footer {
    display: none;
  }
  #Articles {
    margin-top: 20px;
  }
}
