.portfolio {
  background-color: transparent;
  display: flex;
}

.portfolio__menu {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 33.3%;
}

.portfolio__menu h3 {
  margin-top: 0;
}

.portfolio__info {
  width: 66.6%;
}

#project-rt_reporting,
#project-saga_47_swan,
#project-my_ego {
  display: none;
  height: 100%;
  border-radius: 0.25rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}

.portfolio label {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  line-height: 3rem;
  width: calc(100% - 2px - 1rem);
  cursor: pointer;
  color: var(--text);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid var(--button-bg);
}

.portfolio input {
  display: none;
}

.portfolio label:hover,
.portfolio input[type="radio"]:checked + label {
  background: var(--button-bg);
  color: var(--text);
}

.image-container {
  display: flex;
  width: fit-content;
  height: 20rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background: white;
  align-items: center;
  margin-right: auto;
  border-radius: 0.25rem;
  border: 1px solid var(--button-bg);
}

@media (max-width: 65rem) {
  .image-container {
    max-width: calc(100vw - 33.3% - 1rem);
    height: 15rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .portfolio__menu {
    font-size: 14px;
  }
}
