/* Font Styles */

h3::before {
  content: "# ";
  color: var(--button-bg);
}

html {
  font-family: "Fira Code", "monospace", monospace, "Droid Sans Fallback";
  overflow-y: scroll;
}

img {
  align-self: center;
  max-width: 100%;
}

/* Toggle Theme Styles */

:root {
  --text-dark: #333333; /* charcoal */
  --bg: #fffff0; /* ivory */
  --text: #333333; /* charcoal */
  --button-bg: #b5a642; /* gold */
  --text-visited: #aeaeae; /* grey */
  --button-interior: #333333; /* charcoal */
  --brightness-level: 0%;
  --logo-invert: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #292a2d;
    --text: #fffff0; /* ivory */
    --button-bg: #03ffc0; /* gold */
    --button-interior: #333333; /* charcoal */
    --brightness-level: 100%;
    --logo-invert: 1;
  }
}

#theme:checked ~ * {
  --bg: #292a2d;
  --text: #fffff0; /* ivory */
  --button-bg: #03ffc0; /* electric green */
  --button-interior: #333333; /* charcoal */
  --brightness-level: 100%;
  --logo-invert: 1;
}

@media (prefers-color-scheme: dark) {
  #theme:checked ~ * {
    --bg: #fffff0; /* ivory */
    --text: #333333; /* charcoal */
    --button-bg: #b5a642; /* gold */
    --button-interior: #333333; /* charcoal */
    --brightness-level: 0%;
    --logo-invert: 0;
  }
}

.scheme-wrapper {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

#theme {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 99;
}

#theme::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--button-interior);
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

#theme:checked {
  background: var(--button-bg);
}

#theme:checked::before {
  background: var(--button-interior);
  left: 32px;
}

#image-brightness {
  filter: brightness(var(--brightness-level));
}

/* General Styles */

p {
  line-height: 1.5;
}

p a {
  all: unset;
  cursor: pointer;
  border-bottom: 2px solid var(--button-bg);
}

p a:hover {
  color: var(--button-bg);
}

p a:visited {
  color: var(--text-visited);
  border-bottom: 2px solid var(--button-bg);
}

body {
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  margin: 0;
}

.navbar {
  top: 0;
  width: 50rem;
  height: 80px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.navbar__left {
  display: flex;
  justify-content: start;
  padding: 0px;
  height: 80px;
}

.navbar__name a {
  text-decoration: none;
  color: var(--text);
  width: 300px;
}

.navbar__right {
  display: flex;
  margin-top: 30px;
  padding: 0px;
  list-style-type: none;
  padding: 0;
}

.portfolio__link {
  display: flex;
  justify-content: flex-end;
}

.portfolio__link a,
.navbar__link a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  margin-left: 7.5px;
  margin-bottom: 10px;
}

.portfolio__link a {
  margin-top: 12px;
}

.navbar__link a {
  margin-right: 7.5px;
  margin-top: 10px;
}

.portfolio__link a:hover,
.navbar__link a:hover {
  color: var(--button-bg);
}

.portfolio__link a:active,
.portfolio__link a:focux {
  outline: none;
  border-bottom: 2px solid var(--button-bg);
}

.navbar__link #active,
.navbar__link a:active,
.navbar__link a:focus {
  outline: none;
  border-bottom: 2px solid var(--button-bg);
}

.container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* blur content as it scrolls under navbar */
.content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(4px);
}

.content {
  padding-top: 150px;
  z-index: 0;
}

.footer {
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  color: var(--button-bg);
  font-size: 0.8rem;
}

@media (max-width: 65rem) {
  .content::before {
    height: 130px;
    backdrop-filter: blur(8px);
    filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    -moz-filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  .navbar {
    flex-direction: column;
  }
  .navbar__right {
    margin-top: 0;
  }
  .navbar__left {
    height: 45px;
    width: 40vw;
    margin-left: 0.9rem;
  }
  .navbar__link {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .footer {
    margin-left: 1rem;
    margin-right: 1rem;
    overflow-wrap: break-word;
    padding-bottom: 0;
  }
}

/* About Page */

.about__banner {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.about__profile {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid var(--button-bg);
}

.course {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.course__logo {
  width: 2.5rem;
  height: fit-content;
}

.course__details {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.course__details-loc {
  margin: 0;
}

.contact {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  width: fit-content;
}

.contact li a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 500;
}

.contact li:hover {
  color: var(--button-bg);
}

.contact__icon {
  margin-right: 0.5rem;
  height: 1.25rem;
}

/* Writing Page */

.writing {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.writing__post {
  background-color: filter(brightness(1.1));
  border-bottom: 1px solid #aeaeae;
  border-top: 1px solid transparent;

  & a {
    text-decoration: none;
    color: var(--text);
    margin: 0.5rem 0;
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.writing__post-headline {
  display: flex;
  justify-content: space-between;

  & h2 {
    max-width: calc(100% - 150px);
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text);
  }
}

.writing__post-location {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.writing__post-tags {
  display: flex;
  justify-content: space-between;
}

#tag::before {
  content: "#";
  color: var(--button-bg);
}

#tag {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--text);
  color: var(--text);
  margin: 0.25rem;
  border-radius: 5px;
}

.writing__post:hover {
  border-bottom: 1px solid var(--button-bg);
  border-top: 1px solid transparent;
  & h2 {
    color: var(--button-bg);
  }
}

.writing__post:hover + writing__post {
  border-top: 1px solid var(--button-bg);
}

.portfolio {
  background-color: transparent;
  display: flex;
  min-height: calc(100vh - 200px);
}

.portfolio__menu {
  display: flex;
  flex-direction: column;
  background: transparent;
  width: 33.3%;
}

.portfolio__menu h3 {
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.portfolio__info {
  width: 66.6%;
}

#project-rt_reporting,
#project-saga_47_swan,
#project-dcconnect,
#project-my_ego {
  display: none;
  height: 100%;
  border-radius: 0.25rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
}
#project-rt_reporting {
  display: block;
}

.portfolio label {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  line-height: 3rem;
  width: calc(100% - 2px - 1rem);
  cursor: pointer;
  color: var(--text);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid var(--button-bg);
  white-space: nowrap;
  overflow: hidden;
}

.portfolio input {
  display: none;
}

.portfolio label:hover,
.portfolio input[type="radio"]:checked + label {
  background: var(--button-bg);
  color: var(--text-dark);
}

.image-container {
  display: flex;
  width: fit-content;
  height: 20rem;
  padding-left: 5rem;
  padding-right: 5rem;
  background: white;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid var(--button-bg);
}

@media (max-width: 65rem) {
  .image-container {
    max-width: calc(100vw - 33.3% - 1rem);
    padding-left: 1rem;
    padding-right: 1rem;
    height: 15rem;
  }
}
