body {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

#Articles {
 margin-top: 50px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #AEAEAE;
}

img {
  width: 60vw;
}

p {
  font-family: roboto;
  color: #1E1E1E;
  line-height: 1.5em;
}

.navbar {
  margin-bottom: 50px;
}

.navbar-left {
  margin-top: 10px;
  display: flex; 
  flex-direction: row;
  justify-content: start;
}

.navbar-left, .navbar-right {
  list-style-type: none;
}

.navbar, .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-top, .navbar-left-text-top {
  font-size: 10px;
  margin-top: 7.5px;
  margin-bottom: 5px;
  font-family: roboto;
  color: #AEAEAE;
  font-style: italic;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 10px;
  height: 60px;
}

.navbar-left-text-bottom {
  margin-left: 0px;
  margin-top: 10px;
  font-family: roboto;
  font-style: bold;
}
.navbar-link {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: roboto;
  font-size: 14px;
}

#navbar-link:focus {
  outline: none;
  padding: 5px;
}

.profile-picture {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
