.navbar {
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.navbar-left {
  margin-top: 10px;
  display: flex; 
  flex-direction: row;
  justify-content: start;
}

.navbar-left, .navbar-right {
  list-style-type: none;
}

.navbar, .navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-left-text-top {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: roboto;
  color: #AEAEAE;
  font-style: italic;
}

.navbar-left-text-bottom {
  margin-left: 0px;
  margin-top: 10px;
  font-family: roboto;
  font-style: bold;
}

.navbar-link {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-family: roboto;
  font-size: 14px;
}

#navbar-link:focus {
  outline: none;
  padding: 5px;
}

.profile-picture {
  margin-right: 10px;
  height: 50px;
  border-radius: 50%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #AEAEAE;
}
